// this is just a placeholder for the organization_create.hbs file

<form id="create">
    <div class="container">
        <h2>Create a new Organization</h2>
        <hr>
        <label for="name"><b>Name</b></label>
        <input type="text" placeholder="Organization Name" id="name" name="name" required>
        <label for="location"><b>Location</b></label>
        <input type="text" placeholder="Organization Location" id="location" name="location" required>
        <label for="description"><b>Description</b></label>
        <input type="text" placeholder="Organization Description" id="description" name="description" required>
        <label for="CreatedDate"><b>Created Date</b></label>
        <input type="date" id="CreatedDate" name="CreatedDate" required>
        <hr>
        <button class="createBtn" type="submit" id="register">Create</button>
</form>

<script>
    const html = document.documentElement;
    const body = document.body;
    const menuLinks = document.querySelectorAll(".admin-menu a");
    const collapseBtn = document.querySelector(".admin-menu .collapse-btn");
    const toggleMobileMenu = document.querySelector(".toggle-mob-menu");
    const switchInput = document.querySelector(".switch input");
    const switchLabel = document.querySelector(".switch label");
    const switchLabelText = switchLabel.querySelector("span:last-child");
    const collapsedClass = "collapsed";
    const lightModeClass = "light-mode";

    /*TOGGLE HEADER STATE*/
    collapseBtn.addEventListener("click", function () {
        body.classList.toggle(collapsedClass);
        this.getAttribute("aria-expanded") == "true"
            ? this.setAttribute("aria-expanded", "false")
            : this.setAttribute("aria-expanded", "true");
        this.getAttribute("aria-label") == "collapse menu"
            ? this.setAttribute("aria-label", "expand menu")
            : this.setAttribute("aria-label", "collapse menu");
    });

    /*TOGGLE MOBILE MENU*/
    toggleMobileMenu.addEventListener("click", function () {
        body.classList.toggle("mob-menu-opened");
        this.getAttribute("aria-expanded") == "true"
            ? this.setAttribute("aria-expanded", "false")
            : this.setAttribute("aria-expanded", "true");
        this.getAttribute("aria-label") == "open menu"
            ? this.setAttribute("aria-label", "close menu")
            : this.setAttribute("aria-label", "open menu");
    });

    /*SHOW TOOLTIP ON MENU LINK HOVER*/
    for (const link of menuLinks) {
        link.addEventListener("mouseenter", function () {
            if (
                body.classList.contains(collapsedClass) &&
                window.matchMedia("(min-width: 768px)").matches
            ) {
                const tooltip = this.querySelector("span").textContent;
                this.setAttribute("title", tooltip);
            } else {
                this.removeAttribute("title");
            }
        });
    }

    /*TOGGLE LIGHT/DARK MODE*/
    if (localStorage.getItem("dark-mode") === "false") {
        html.classList.add(lightModeClass);
        switchInput.checked = false;
        switchLabelText.textContent = "Light";
    }

    switchInput.addEventListener("input", function () {
        html.classList.toggle(lightModeClass);
        if (html.classList.contains(lightModeClass)) {
            switchLabelText.textContent = "Light";
            localStorage.setItem("dark-mode", "false");
        } else {
            switchLabelText.textContent = "Dark";
            localStorage.setItem("dark-mode", "true");
        }
    });
</script>

<script>
    function submit() {
        var name = document.getElementById("name").value;
        var location = document.getElementById("location").value;
        var description = document.getElementById("description").value;
        var CreatedDate = document.getElementById("CreatedDate").value;
        var data = {
            name: name,
            location: location,
            description: description,
            CreatedDate: CreatedDate
        };
        fetch("http://localhost:3000/organizations", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        }).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (data.status == 200) {
                alert("Organization Created Successfully");
            }
            else {
                alert("Error Creating Organization");
            }
        })
        return false;

    }
    var form = document.getElementById("create");
    form.addEventListener("click", (e)=> {
        var name = document.getElementById("name").value;
        var location = document.getElementById("location").value;
        var description = document.getElementById("description").value;
        var CreatedDate = document.getElementById("CreatedDate").value;

        var fields = [name, location, description, CreatedDate];
        var validity = true;

        for (var e of fields) {
            if (e.checkValidity() == false) {
                validity = false;
                e.reportValidity();
            }
        }
        if (validity == true) {
            submit();
        }
    })
</script>